<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rahul.indrakant.cashmaster">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            />
        <activity
            android:name=".SignupActivity"
            android:label="Sign UP" />
        <activity
            android:name=".HomeActivity"
            android:label="Cash Master" />
        <activity
            android:name=".NewEntry"
            android:label="Add Entry" />
        <activity
            android:name=".ViewEntry"
            android:label="View Entries" />
        <activity
            android:name=".Expense"
            android:label="Expenses" />
        <activity
            android:name=".Report"
            android:label="Reports" />
        <activity
            android:name=".Menu_Settings"
            android:label="Settings" />
        <activity
            android:name=".AboutUs"
            android:label="About Us" />
        <activity
            android:name=".Feedback"
            android:label="Feedback" />
        <activity android:name=".Group" />
        <activity android:name=".add_new_expanses" />
        <activity android:name=".TotalExpanses"/>
    </application>

</manifest>